	<div class="container">
	
    <div *ngIf="paisDetail" class="card card-custom" style="margin-left: 70px" >
        
            <img src="{{ paisDetail.flag }}" class="card-img-top" alt="Flag of {{paisDetail.name}}">
    	        
                    <div class = "card-body">
              
               <h5 class="card-title"> {{paisDetail.name}}
                   <ul>
                        <li> {{paisDetail.description}} </li>
   	                </ul>
    	
    	            </h5>
   	
    	            </div>
    	    </div>
    	
	</div>
    